*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(255, 255, 255);
}
header nav{
    display: flex;
}