{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="{% url 'index' %}">Login / <span>Register</span></a>
            <ul>
                <li><a href="{% url 'index' %}">Home</a> </li>
                <li><a href="{% url 'register' %}">Register</a> </li>
                <li><a href="{% url 'login' %}">Login</a> </li>
                <li><a href="{% url 'logout' %}">Logout</a> </li>
               
            </ul>
        </nav>
    </header>
  
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
      {% endif %}
        {% block contenido %}

        {% endblock %}
    </div>
</body>
</html>